@font-face {
	font-family: Architectural;
	font-display: swap;
	src: url("../fonts/Architectural.woff2") format("woff2"), url("../fonts/Architectural.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
